@import './../../../../variables.scss';

.species-list-cont {
    width: 100%;
    background-color: white;

    .list-header {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-weight: 900;
        }
    }

    .hack1 {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .hack2 {
        display: table-cell;
        overflow-x: auto;
        width: 100%;
    }

    thead,
    tbody tr {
        display: table;
        table-layout: fixed;
        /* even columns width , fix width of table too*/
    }

    table {
        border-spacing: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        th, td {
            padding: 0.15rem 0.5rem;
            white-space: nowrap;
            min-width: 120px;
            &:first-child {
                min-width: 35px !important;
            }
            &:nth-child(2) {
                width: 150px
            }

            &:nth-child(3) {
                width: 250px
            }

            &:nth-child(4),
            &:nth-child(5) {
                width: 250px
            }

            &:nth-child(6) {
                width: 120px
            }
        }

        thead {
            color: white;
            display: block;

            th {

                background-color: $mainActiveColor;
                border-right: 1px solid $mainActiveColorHover;

                &.gray-cell {
                    background-color: #E5E5E5;
                    border-top: 1px solid rgb(209, 209, 209);
                    text-align: center;
                    font-size: 13px;
                    color: rgb(143, 143, 143);
                }
            }
        }

        tbody {
            background-color: white;
            display: block;
            height: calc(100vh - 130px);
            overflow-y: auto;
            overflow-x: hidden;

            tr {
                &:hover {
                    background-color: rgba(176, 234, 125, 0.425);

                    td:first-child {
                        background-color: $mainActiveColor;
                        color: white;
                    }
                }
            }

            .blank-cell {
                border-bottom: 0.2px solid rgb(224, 224, 224);
                border-right: 0.2px solid rgb(224, 224, 224);
                cursor: default;
                word-wrap: break-word;
            }
        }
    }
}

.gray-cell {
    background-color: #E5E5E5;
    border-top: 1px solid rgb(209, 209, 209);
    text-align: center;
    font-size: 13px;
    color: rgb(143, 143, 143);
    width: 35px !important;
}