.projects {
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;

    .projects-layout {
        display: flex;
        width: 100%;
        height: calc(100vh - 45px);
        flex-direction: column;
    }

    .projects-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /*justify-content: center;
        align-content: center;*/
        height: 100vh;

        .projects-view {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .project-card {
                padding: 10px 20px;
                background-color: white;
                border-radius: 2px;
                margin: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;
                -webkit-box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
                box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);

                .project-name {
                    font-weight: 700;
                    font-size: 18px;
                    text-align: center;
                }

                img {
                    margin: 1rem 0;
                }

                .project-date {
                    font-size: 14px;
                    color: #C4C4C4;
                }
            }
        }

        .create-project-div {
            background-color: rgba(40, 32, 50, 0.3);
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .create-project {
                width: 100%;
                height: 100%;
                background-color: #F2F2F2;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                #nextBtn {
                    position: absolute;
                    bottom: 3rem;
                    z-index: 1;

                }

                section {
                    width: 100%;
                    height: 80%;
                }

                .title-row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 2rem 3rem;

                    img {
                        cursor: pointer;
                    }
                }

                .details {

                    .content {
                        width: 70%;
                        margin: auto;
                        max-width: 650px;
                    }
                }

                #objective {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .location-cont {
                        width: 40%;
                    }

                    .species-cont {
                        width: 40%;

                        input {
                            width: 80%;
                        }

                        p {
                            margin: 0.5rem 0 1.5rem 0;
                        }

                        .species-list-cont {
                            width: 80%;
                            min-height: 300px;
                            background-color: white;
                            border-radius: 5px;
                            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
                        }
                    }
                }

                #data-collection {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .method-cont {
                        width: 40%;
                        display: flex;
                        flex-direction: column;


                        .css-2b097c-container {
                            width: 50%;
                        }

                        .checks-cont {
                            .check-container {
                                margin: 0 1.5rem 0 0;
                            }
                        }

                        .row-question-structure {
                            label {
                                width: auto;
                            }

                            width: 60%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            margin: 0.5rem 0;
                        }
                    }

                    .audio-cont {
                        width: 40%;

                        input {
                            width: 80%;
                        }

                        p {
                            margin: 0.5rem 0 1.5rem 0;
                        }

                    }
                }
            }

            .create-project-form {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                width: 380px;
                height: auto;
                max-height: 230px;

                h1 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    color: #282032;
                    margin-bottom: 10px;
                }

                .new-project-input {
                    font-size: 16px;
                    border-radius: 2px;
                    font-family: 'Roboto', sans-serif;
                    width: 360px;
                    height: 35px;
                    //margin-bottom: 10px;
                    background-color: #F4F4F4;
                    border: none;
                    text-decoration: none;
                    padding: 0 10px 0 10px;
                }

                .audio-dropzone {
                    display: flex;
                }

                .audio-drop-section {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 0 10px 0;
                    margin: 20px 0 20px 0;
                    border-style: dashed;
                    border-width: 2px;
                    color: gray;
                    cursor: pointer;

                    .add-audio-dropzone {
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                    }
                }

                .user-audio-div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 0 30px 0;

                    h3 {
                        font-family: 'Roboto', sans-serif;
                        font-size: 17px;
                        font-weight: 700;
                        color: #282032;
                        padding-bottom: 10px;
                    }

                    .upload-audio-btn {
                        font-family: 'Roboto', sans-serif;
                        font-size: 13px;
                        background-color: #282032;
                        padding: 8px 30px 8px 30px;
                        color: white;
                        border: none;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                .new-project-btns {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin: 1rem 0 0 0;

                    .create-project-btn {
                        cursor: pointer;
                        background-color: #35E285;
                        width: 100px;
                        height: 35px;
                        color: white;
                        font-size: 16px;
                        border-radius: 2px;
                        font-family: 'Roboto', sans-serif;
                        border: none;
                        text-decoration: none;
                    }

                    .create-project-btn:disabled {
                        cursor: pointer;
                        background-color: #C4C4C4;
                        width: 100px;
                        height: 35px;
                        color: white;
                        font-size: 16px;
                        border-radius: 2px;
                        font-family: 'Roboto', sans-serif;
                        border: none;
                        text-decoration: none;
                    }

                    .cancel-btn {
                        cursor: pointer;
                        background-color: white;
                        width: 100px;
                        height: 35px;
                        color: #282032;
                        border: none;
                        text-decoration: none;
                        font-size: 16px;
                        border-radius: 2px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }

        .no-projects-view {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;

            h3 {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                margin: 20px;
                font-size: 20px;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                text-align: center;
                font-size: 18px;
                margin-bottom: 16px;
            }

            button {
                font-size: 16px;
                border-radius: 2px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                width: 250px;
                min-height: 40px;
                margin-bottom: 20px;
                background-color: #35E285;
                color: white;
                border: none;
                text-decoration: none;
                cursor: pointer;
            }

            button:hover {
                background-color: #2FD37B;
                -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .add-project-float-btn {
        border-radius: 50%;
        background-color: #35E285;
        position: absolute;
        margin-right: 40px;
        bottom: 50px;
        left: auto;
        right: 0;
        width: 60px;
        height: 60px;
        border: none;
        text-decoration: none;
        cursor: pointer;
        -webkit-box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
        box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
    }

    .add-project-float-btn:hover {
        background-color: #2FD37B;
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    }
}

.project-topbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 7px 10px;


    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 0 1rem;
            margin: 0 0 0 1rem;

            img {
                height: 22px;
                margin: 0 0.5rem 0 0;
            }
        }
    }

}
