#waveform {
    cursor: pointer;
    position: relative;
}

#wave-spectrogram {
    position: absolute;
    width: 100%;
    opacity: 0.9;
}

#wave-spectrogram canvas {
    left: 0;
    position: inline-block;
    width: 100%;
    height: 120px;
}

#wave-spectrogram .spectrogram {
    height: 120px;
}

#wave-spectrogram .spec-labels {
    position: absolute;
    display: none;
}

#zoom-bar {
    margin: 10px;
    display: flex;
    align-items: center;
    #slider {
        margin: 10px;
        cursor: grab;
        width: 150px;
    }
}


.div-btns {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    max-height: 55px;
}

#play-pause {
    cursor: pointer;
    border-radius: 27;
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 27px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 19;
    margin: 10px;
    background-color: #5855ff;
    color: white;
}

#color-change {
    cursor: pointer;
    border-radius: 27;
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 27px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 19;
    margin: 10px;
    background-color: #ffd255;
    color: black;
}