.profile-icon {
    position: relative;
    .profile-photo {
        cursor: pointer;
        border: none;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .complete-menu{
    }

    .profile-menu {
        margin: -1px 0 0 0;
        top: 100%;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);

        .config-btn {
            border-bottom: 1px solid #C4C4C4;
        }

        button {
            padding: 8px 30px 8px 30px;
            background-color: rgba(0, 0, 0, 0);
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            border: none;
            text-decoration: none;
            cursor: pointer;
        }
    }
}