.search-bar {
    display: flex;
    flex-wrap: nowrap;
    input {
        width: 35vw;
        max-width: 600px;
        color: #3E3549;
        font-size: 15px;
        height: 35px;
        border: none;
        border-radius: 2px;
        padding: 0 10px 0 10px;
    }
    .search-btn{
        border-radius: 2px;
        font-weight: 700;
        width: 150px;
        min-height: 35px;
        margin-left: 10px;
        background-color: #35E285;
        color: white;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    .search-btn:hover{
        background-color: #2FD37B;
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    }

}