.search-bar {
    input {
        min-width: 500px;
        width: 550px;
        color: #3E3549;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        height: 30px;
        border: none;
        border-radius: 2px;
        padding: 0 10px 0 10px;
    }
    .search-btn{
        font-size: 14px;
        border-radius: 2px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        width: 100px;
        min-height: 30px;
        margin-left: 10px;
        background-color: #35E285;
        color: white;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    .search-btn:hover{
        background-color: #2FD37B;
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    }

}