.dash-menu {
    background-color: #272E2E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.open{
        width: 200px;
    }  
    &.closed{
        width: 50px;
        .logo {
            img {
                display: inherit;
            }
            p {display: none;}
        }
        button{
            width: 100%;
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img {
                width: 22px;
                height: auto;
            }
            h4 {
                display: none;
            }
        }
    }
    .logo {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
        margin: 15px 0;
        img {
            width: 27px;
            height: auto;
            display: none;
        }
    }
    h4 {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
    }

    .dash-icon {
       width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
    }
    button{
        width: 100%;
        padding: 15px 0 15px 10px;
        cursor: pointer;
        border: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        img {
            width: 22px;
            height: auto;
        }
    }
}