 @import './../../../variables.scss';

 .project-dashboard {
     display: flex;
     flex-direction: row;
     background-color: #E5E5E5;

     .projectDash-layout {
         display: flex;
         width: 100%;
         height: 100vh;
         flex-direction: column;
         overflow: hidden;

         .dash-section {
            //-----------------------
             height: calc(100vh - 45px);
             overflow: auto;
         }
     }
 }



 .project-header {
     width: 100%;
     background-color: white;
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 1rem;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);

     .info {
         display: flex;
         flex-direction: column;
         margin: 0 1rem;

         .span-name {
             display: flex;
             flex-direction: row;
             align-items: baseline;
             margin: 0 0 0.3rem 0;

             p {
                 margin: 0 0 0 0.5rem;
                 font-size: 14px;
             }
         }
     }
 }


 .project-tabbar-navigation {
     display: flex;
     flex-direction: row;
     background-color: #313838;
     height: 45px;
     min-height: 45px;
     width: 100%;
     justify-content: flex-start;
     position: relative;

     .tab {
         height: 100%;
         min-width: 150px;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         padding: 0 10px;
         color: white;
         background-color: #3B4545;
         cursor: default;
         transition: all 0.1s;
         border-left: 0.5px solid rgb(87, 97, 97);

         &:first-child {
             border-left: none;
         }

         &:hover {
             background-color: rgb(83, 92, 92);

         }

         h4 {
             font-size: 15px;
         }

         img {
             width: 10px;
             cursor: pointer;
             filter: invert(100%);
         }

         &.open {
             background-color: white;
             box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03);
             color: $mainActiveColor;

             img {
                 filter: invert(0%);
             }
         }
     }

     .profile-icon {
         position: absolute;
         top: 5px;
         right: 15px;
     }
 }