@import './../../../../variables.scss';

.SelSuggestions-section {
    width: 50%;
    padding: 1rem;
    overflow-y: auto;
    .sel-suggest-card {
        width: 100%;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;

        .time {
            h3 {
                font-weight: 800;
                font-size: 25px;
            }

            p {
                color: $mainActiveColor;
            }

            .time-separator {
                display: block;
                height: 87%;
                min-width: 0;
                width: 0;
                border-left: 1.5px dashed $mainActiveColor;
                margin: 1rem 0;

            }
        }

        .card {
            width: 80%;
            background-color: white;
            position: relative;
            border-radius: 5px;
            padding: 10px;

            .yellow-text {
                margin: 0.1rem 0 1rem 0;
            }

            .play {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                p {
                    font-weight: 700;
                    margin: 0 0 0 0.5rem;
                }
            }

            .arrow-left {
                position: absolute;
                left: -9px;
                top: 15px;
            }

            .suggested-specie {
                position: relative;
                margin: 0 3px 0 3px;
                padding: 3px;
                background-color: white;

                .play-audio {
                    display: none;
                    position: absolute;
                    top: 28%;
                    right: 30%;
                }

                .exploreaction {
                    display: none;
                    position: absolute;
                    top: 25%;
                    left: 30%;
                }

                &:hover {
                    transform: scale(1.01);

                    .exploreaction {
                        display: inherit;
                        cursor: pointer;
                    }

                    .play-audio {
                        display: inherit;
                        cursor: pointer;
                    }
                }

                .specie-card {
                    .percentage-title {
                        padding: 3px;
                        font-size: 13px;
                        font-weight: 800;
                        text-align: center;
                        color: white;
                    }

                    .spectrogram {
                        width: 238px;
                        cursor: pointer;
                    }

                    .specie-card-down {
                        margin: 5px;

                        .bird-info {
                            display: flex;
                            flex-direction: row;

                            .bird-photo {
                                width: 35px;
                                height: 35px;
                                margin-right: 10px;
                            }

                            .bird-text {
                                display: flex;
                                flex-direction: column;

                                .position-sci {
                                    display: flex;
                                    flex-direction: row;
                                    margin-bottom: 1px;

                                    .position {
                                        font-size: 15px;
                                        font-weight: 800;
                                    }

                                    .sci-name {
                                        font-size: 15px;
                                        font-weight: 800;
                                        font-style: italic;
                                        color: #828282;
                                    }
                                }

                                .common-name {
                                    font-size: 14px;
                                    font-weight: 800;
                                    margin-bottom: 10px;
                                }
                            }
                        }


                        p {
                            font-size: 12px;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
}