@import './../../../../variables.scss';

.SelSuggestions-section {
    width: 50%;
    padding: 1rem;
    overflow-y: auto;

    .sel-suggest-card {
        width: 100%;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;

        .time {
            h3 {
                font-weight: 800;
                font-size: 25px;
            }

            p {
                color: $mainActiveColor;
            }

            .time-separator {
                display: block;
                height: 57%;
                min-width: 0;
                width: 0;
                border-left: 1.5px dashed $mainActiveColor;
                margin: 1rem 0;

            }
        }

        .card {
            width: 80%;
            background-color: white;
            position: relative;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .up {
                display: flex;
                flex-direction: row;

                .audio {
                    width: 350px;
                    height: 150px;
                }
            }

            .sample-info {
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .caption {
                    margin: 0.5rem 0;
                }
            }

            .play {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                p {
                    font-weight: 700;
                    margin: 0 0 0 0.5rem;
                }
            }

            .suggestions {
                opacity: 1;

                &.undisplay {
                    opacity: 0;
                    visibility: hidden;
                    max-height: 0;
                    transition: max-height 0.3s, opacity 0.2s, visibility 0.2s linear;
                }
            }

            .arrow-left {
                position: absolute;
                left: -9px;
                top: 15px;
            }

            .suggested-specie {
                position: relative;
                margin: 0 3px 0 3px;
                padding: 3px;
                background-color: white;

                .play-audio {
                    display: none;
                    position: absolute;
                    top: 28%;
                    right: 30%;
                }

                .exploreaction {
                    display: none;
                    position: absolute;
                    top: 25%;
                    left: 30%;
                }

                &:hover {

                    .exploreaction {
                        display: inherit;
                        cursor: pointer;
                    }

                    .play-audio {
                        display: inherit;
                        cursor: pointer;
                    }
                }

                .specie-card {

                    .percentage-title {
                        padding: 3px;
                        font-weight: 800;
                        text-align: center;
                        color: white;
                        background-color: $mainActiveColor;
                    }

                    .info {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .spectrogram {
                            width: 250px;
                            height: 150px;
                            cursor: pointer;
                        }



                        .specie-card-down {
                            padding: 0.5rem ;

                            .sug-actions {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                margin: 0.5rem 0 0 0;
                                img {
                                    margin: 0 0.5rem;

                                }
                            }

                            .bird-info {
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;

                                .bird-photo-cont {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 35px;
                                    margin: 0 1rem 0 0;
                                    overflow: hidden;
                                    background-color: white;
                                    border: solid 1.5px $thirdActiveColor;

                                    img {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .bird-text {
                                    display: flex;
                                    flex-direction: column;

                                    .position-sci {
                                        display: flex;
                                        flex-direction: row;
                                        margin-bottom: 1px;

                                        .position {
                                            font-size: 16px;
                                            font-weight: 700;
                                            color: $thirdActiveColor;
                                        }

                                        .sci-name {
                                            font-size: 16px;
                                            font-weight: 500;
                                            margin: 0 0 0 0.5rem;
                                            font-style: italic;
                                            color: #828282;
                                        }
                                    }

                                    .common-name {
                                        font-size: 16px;
                                    }
                                }
                            }

                            p {
                                &.sources {
                                    font-size: 14px;
                                    font-weight: 800;

                                }
                            }
                        }
                    }


                }
            }
        }
    }
}