.Login {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .info-section {
        background-color: #35E285;
        width: 50%;
        padding: 30px;

        .logo {
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            margin: 0 0 12px 20px;
        }

        .img-div {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                color: #FFF;
            }

        }

        h1 {
            font-size: 35px;
            font-family: 'Roboto', sans-serif;
            margin: 10px 50px 10px 20px;
            font-weight: 700;
        }

        p {
            font-size: 19px;
            font-family: 'Roboto', sans-serif;
            margin: 0 10px 10px 20px;
            font-weight: 700;
            color: #FFF;
        }

        .statement {
            color: #000;
        }
    }

    .login-section {
        background-color: #E5E5E5;
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;

        .login-options-btns {
            display: flex;
            flex-direction: row;
            background-color: #FCFCFC;
            border-radius: 2px 2px 0 0;

            .login-btn {
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                background-color: #FCFCFC;
                color: black;
                border: none;
                text-decoration: none;
                cursor: pointer;
                width: 150px;
                height: 40px;
            }

            #sign-in-state {
                border-radius: 2px 0 0 0;
            }


            .login-btn:hover {
                background-color: #F4F4F4;
            }
        }

        .login-box {
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            background-color: #FFF;
            width: 450px;
            -webkit-box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
            box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);

            .form-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    color: #35E285
                }

                input {
                    font-size: 16px;
                    border-radius: 2px;
                    font-family: 'Roboto', sans-serif;
                    width: 400px;
                    min-height: 40px;
                    margin-bottom: 20px;
                    background-color: #F4F4F4;
                    border: none;
                    text-decoration: none;
                    padding: 0 10px 0 10px;
                }

                .sign-in-btn {
                    padding: 0 10px 0 10px;
                    font-size: 16px;
                    border-radius: 2px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    width: 420px;
                    min-height: 40px;
                    margin-bottom: 20px;
                    background-color: #35E285;
                    color: white;
                    border: none;
                    text-decoration: none;
                    cursor: pointer;
                }

                .sign-in-btn:hover {
                    background-color: #2FD37B;
                    -webkit-box-shadow: 1px 1px 15px 5px rgba(237, 237, 237, 0.5);
                    -moz-box-shadow: 1px 1px 15px 5px rgba(237, 237, 237, 0.5);
                    box-shadow: 1px 1px 15px 5px rgba(237, 237, 237, 0.5);
                }

                .sign-up-btn {
                    padding: 0 10px 0 10px;
                    font-size: 16px;
                    border-radius: 2px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    width: 420px;
                    min-height: 40px;
                    margin-bottom: 20px;
                    background-color: #35E285;
                    color: white;
                    border: none;
                    text-decoration: none;
                    cursor: pointer;
                }

                .sign-up-btn:hover {
                    background-color: #2FD37B;
                    -webkit-box-shadow: 1px 1px 15px 5px rgba(237, 237, 237, 0.5);
                    -moz-box-shadow: 1px 1px 15px 5px rgba(237, 237, 237, 0.5);
                    box-shadow: 1px 1px 15px 5px rgba(237, 237, 237, 0.5);
                }


                p {
                    font-size: 16px;
                    border-radius: 2px;
                    font-family: 'Roboto', sans-serif;
                    color: #B8B9B9;
                    font-weight: 700;
                    text-align: center;

                    a {
                        color: #35E285;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.img-dropzone {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .add-img-btn {
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            margin: 0 20px 5px 20px;

            p {
                margin: 5px 0 10px 0;
            }
        }

        }

        .user-img-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .user-img {
                //align-items: center;
                margin: 0 20px 5px 20px;
            }
            p {
                margin: 5px 0 10px 0;
            }

    }

    .subir-img-btn {
        font-size: 16px;
        border-radius: 2px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        width: 420px;
        min-height: 40px;
        margin-bottom: 5px;
        background-color: #282032;
        color: white;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }

}