.tool-bar {
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .audio-options {
        margin-left: 45px;
    }

    .edition-options {
        display: flex;
        flex-direction: row;
        margin-right: 45px;   
    }

    .tool-btn {
        background-color: #333333;
        cursor: pointer;
        border: none;
        text-decoration: none;
        height: 100%;
        border-radius: 0px;
    }

    .tool-btn:hover {
        background-color: #AFEA7D;
    }
}