.tool-bar {
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .compare {
        filter: invert(100%);
    }
    .audio-options {
        margin-left: 10px;
    }

    .edition-options {
        display: flex;
        flex-direction: row;
        margin-right: 15px;   
    }

    .tool-btn {
        background-color: #333333;
        cursor: pointer;
        border: none;
        text-decoration: none;
        height: 100%;
        border-radius: 0px;
        padding: 0.5rem 0.9rem;

        img {
            height: 22px;
            width: 22px;
          
        }
    }

    .tool-btn:hover {
        background-color: #AFEA7D;
    }
}